.map-container {
    min-height: calc(100% - 125px);
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%; 
    margin-top: 0;
    margin-right: auto;
    margin-bottom: -100px;/*Allow for footer height*/
    margin-left: auto;
    display: flex;
    flex: 1 1 auto;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    
    flex-direction: column;
    align-items: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }